<div id="home-page">
  <div class="container">
    <div class="jumbotron">
    <h1 class="text-center">Reedly</h1>
    <p>a simple rss reader</p>
    <div class="text-center btn btn-default btn-lg"><%= link_to "Login", new_user_session_path %></div>
    <div class="text-center btn btn-default btn-lg"><%= link_to "Sign Up", new_user_registration_path %></div>
    <div class="text-center btn btn-default btn-lg guest-button"><%= link_to "Login As Guest", guestsignin_path %></div>
    </div>
  </div>
</div>