<form action=<%= feeds_url %> method="post">
<input type="hidden" name="authenticity_token" id="" value="<%= form_authenticity_token %>" />
<label>
  feed url
  <input type="text" name="feed[url]">
</label>
</form>