<h1 class="text-center"><a href="#/feeds"><center><img src="assets/reed.png"></center>
Reedly</a></h1>
  
<a class="btn" data-toggle="modal" data-target=".add-feed"><span class="glyphicon glyphicon-plus"></span> Add Feed </a>  


<ul>
<% feeds.each(function(feed){ %>
    <div class="feed-title"><a class="feed" href="/#feeds/<%= feed.id %>"><%= feed.escape('title') %></a> -  (<%= feed.entries().length %>)</div>
<% }) %>
</ul>
<div class="sidebar-footer">
<a href="/users/sign_out" data-method="delete" rel="nofollow">Logout</a>
</div>


<div class="modal fade add-feed" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Add Feed</h4>
      </div>
      <div class="modal-body">
        <input class="form-control" type="text" name="feed[url]" placeholder="Enter Feed Url">
      </div>
      <a class="add-feed-button btn"><span class="glyphicon glyphicon-plus"></span> Add Feed </a>  
    </div>
  </div>
</div>
