<a href="#/feeds"><h1>Reedly</h1></a>

<li>
  <input class="add-feed" type="text" name="feed[url]">
  <button class="add-feed-button"> Add Feed </button>
</li>

<% feeds.each(function(feed){ %>
  <li>
    <a class="feed" href="/#feeds/<%= feed.id %>"><%= feed.escape('title') %></a>
    (<%= feed.entries().length %>)
    <button class="delete-feed-button" id="<%= feed.id %>">Delete Feed </button>
  </li>
<% }) %>

<footer>
<a href="/users/sign_out" data-method="delete" rel="nofollow">Logout</a>
</footer>