<li>
  <input class="add-feed" type="text" name="feed[url]">
  <button class="add-feed-button"> Add Feed </button>
</li>

<% feeds.each(function(feed){ %>
  <li>
    <%= feed.escape('title') %>
  </li>
<% }) %>
