<% feed.entries().forEach(function(entry){ %>
  <div class="entry">
   <h3> <a href="<%= entry.escape('guid') %>"><%= entry.escape('title') %></a> </h3>
   <p> <%= entry.escape('content') %> </p>
   <button class="feed-entry-read" id="<%= entry.id %>">Read? </button>
  </div>
<% }) %>