/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

 @import "bootstrap";

 html {
  height: 100%;
 }

 @import url(http://fonts.googleapis.com/css?family=Share+Tech);

 body {
  font-family: Helvetica, Arial, sans-serif;
 }

 .main-row {
    min-height:100%;
    width:100%;
    position:relative;
   
  }
 
 #sidebar {
    img {
      padding-top: 10px
    }
    ul{
      padding-left:10px;
    }

    .feed-title{
      font-family: sans-serif;
      font-size: 12px;
    }

    .form-control{
      height: 20px;
    }   

    h1{
      padding-top: 5px;
      margin-top: 0px;
      font-family: "Share Tech", Helvetica, Arial, sans-serif;
    }
    height:100vh;
    background-color: #16a085;

    a{
      
      color: #bdc3c7;
    }
    a:link{
      color: #bdc3c7;
    }
    a:visited{
      color: #bdc3c7;
    }
    .sidebar-footer{
      position: fixed;
      bottom:5px;
    }
 }

#content {
    height: 100vh;
    overflow: auto;
  ul {
    padding-left: 5px;
  }

  background: rgba(221, 235, 232, 0.8);
}


.entry {
  padding: 10px;
  border: 1px solid #8B8B8B;
  margin: 10px;
  background-color: #D2DBDF;
  border-radius: 15px;
}

.selected{
  border: 3px solid #8B8B8B;
  background-color: #EBEBEB;

}