/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */


 @import "bootstrap";

 html {
  height: 100%;
  target-new: tab;
 }


 .alert{
  margin-bottom:0px;
 }

 @import url(http://fonts.googleapis.com/css?family=Share+Tech);


 ul {
  list-style-type: none;
 }

 .main-row {
    min-height:100%;
    width:100%;
    position:relative;
   
  }

 #sidebar {

    a.add-feed-button{
      color: #8B8B8B
    }

    img {
      padding-top: 10px
    }
    ul{
      padding-left:10px;
    }

    .feed-title{
      font-family: sans-serif;
      font-size: 12px;
    }

    .form-control{
      height: 20px;
    }   

    h1{
      padding-top: 5px;
      margin-top: 0px;
      
    }
    height:100vh;
    background: rgba(83, 143, 131, 0.9);
    h1 a:link{
      text-decoration:none;
    }
    h1 a:visited{
      text-decoration:none;
    }


    a{ 
      color: #E8EEF1;
    }
    
    a:link{
      color: #E8EEF1;
    }
    a:visited{
      color: #E8EEF1;
    }
    .sidebar-footer{
      position: fixed;
      bottom:5px;
    }
  overflow: auto;
 }

#content {
    height: 100vh;
    overflow: auto;
  ul {
    padding-left: 5px;
  }

  a.add-category-button{
    color: #8B8B8B
  }

  background: rgba(221, 235, 232, 0.8);
}


.entry {
  padding: 10px;
  border: 1px solid #8B8B8B;
  margin: 10px;
  background-color: #D2DBDF;
  border-radius: 15px;
}

.selected{
  border: 3px solid #8B8B8B;
  background-color: #EBEBEB;

}