// Place all the styles related to the feeds controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.entries-title{
  position:fixed;
  z-index: 3;
  padding: 5px;
  margin: 10px;
}

.title-background{
  height: 60px;
}
