// Place all the styles related to the feed_categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.category{
  padding: 10px;
  border: 1px solid #8B8B8B;
  margin: 10px;
  background-color: #D2DBDF;
  border-radius: 15px;
}

.delete-category{
  float: right;
}

hr {
  margin: 5px;
}

.remove-category-feed{
  float: right;
  color: grey;
}

#dashboard-title{
  margin: 20px;
}

.add-cat-btn{
  margin-top: 20px;
}

.glyphicon-chevron-down {
  font-size: 10px;
}

.glyphicon-chevron-right{
  font-size: 10px;
}

.feed-title{
  h4 a:link{
    text-decoration:none;
  }
  h4 a:visited{
    text-decoration:none;
  }
  h4 a:link{
    text-decoration:none;
  }
}