body{
  height: 100%;
  background: url(/assets/reed_background.jpg);
}

.jumbotron{
  margin-top: 50px;
  background-color: rgba(255, 255, 255, 0.8) !important;
}

#home-page{
  height: 100%;
  background: rgba(221, 235, 232, 0.8);
}

h1{
  font-family: "Share Tech", Helvetica, Arial, sans-serif;
}

.guest-button{
  padding: 18px 28px;
    font-size: 22px;
    line-height: normal;
    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
            border-radius: 8px;
}

img{
  margin: 20px;
}

.container {
    max-width: 50%;
}