body{
  height: 100%;
  background: url(/assets/reed_background.jpg);
}

.jumbotron{
  margin-top: 50px;
}

#home-page{
  height: 100%;
  background: rgba(221, 235, 232, 0.8);
}

h1{
  font-family: "Share Tech", Helvetica, Arial, sans-serif;
}